.not-found-wrapp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found-img {
  width: 100%;
  height: 100%;
  max-width: 250px;
}

.cloud-img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  transform: scaleX(-1);
}

.cloud-wrapp {
  position: relative;
  top: 50px;
  left: -70px;
}

.not-found-text {
  position: absolute;
  top: 37px;
  left: 67px;
  font-size: 18px;
  font-weight: bold;
  z-index: 1000;
  text-align: center;
}

.home-page-text {
  margin-top: 30px;
  font-weight: bold;

  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

.home-page-text:hover {
  transform: scale(1.05);
}
