.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 30px;
  padding-bottom: 30px;
}

.left-menu {
  width: 200px;
  background-color: red;
  padding: 15px;
}

.card-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
}
